Administratif/*
uml-designer-master4/*
SCCD/*
UML-Designer/*
plug-simulation-ui-0.0.1/*
uml-simulateur/*
sirius/*
README.org
*.md5
*.sha1
bin
eclipse-installer
sirius
Documentation/.git
**.metadata
**.settings
**.content
**.cp
images_resource
Documentation/oral/*
uml-plugin/resource*
test_projet
Wiki
Deployment/README.md
todo.org

# Inclure les jar pour le deployment
!Deployment/*.jar
!SCCD/xmitoscxml.xsl
!Documentation/oral/6*
