<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.ensta.uml.sim"
            name="Simulator">
      </category>
      <view
            category="org.ensta.uml.sim"
            class="org.ensta.uml.sim.views.MainView"
            icon="icons/sample.gif"
            id="org.ensta.uml.sim.views.SimulatorView"
            name="UML-DSimulator">
      </view>
   </extension>

</plugin>
